# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
+ List popular languages for Data Science +
+ List popular Libraries for Data Science +
+ List Data Science Tools +

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Java
4. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Scikit-Learn
4. TensorFlow

| Data Science Tools   |
|----------------------|
|RStudio               |
|ApacheSpark           |
|TensorFlow            |

### Below are a few examples of evaluating arithmetic expressions in Python
|arithmetic expressions |
|-----------------------|
|1+2                    |
|4-2                    |
|8\3                    |

In [20]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [29]:
# This will convert 200 minutes to hours by dividing by 60
200 / 60

3.3333333333333335

## Author
Lida